[submodule "packages/zweb-public-component"]
	path = packages/zweb-public-component
	url = https://github.com/zilliangroup/zweb-public-component.git
	branch = beta
[submodule "packages/zweb-design"]
	path = packages/zweb-design
	url = https://github.com/zilliangroup/zweb-design.git
